.card img {
    height: fit-content;
    width: 10%;
}

.col-2 img {
    height: fit-content;
    width: 20%;
}


#fiveDay-forcast {
    display: flex;
    justify-content: space-evenly;
    /* outline: 1px black solid; */

}